backend/.phpunit.cache
frontend/node_modules
frontend/.next
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/auth.json
frontend/npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
